In [1]:
import pandas as pd

In [10]:
import pandas as pd

# Charger le dataset (ici en CSV, adapte selon ton format)
df = pd.read_csv("eco2mix_RTE_Annuel-Definitif_2018_fixed.csv", encoding="utf-8")

# Remplacer les "é" par "e" dans tout le DataFrame
df = df.replace("é", "e", regex=True)

# Vérifier le résultat (afficher les premières lignes)
print(df.head())

# Sauvegarder le dataset modifié
df.to_csv("eco2mix_2018.csv", encoding="utf-8", index=False)

             Perimetre      Nature   Date   Heures  Consommation  \
0  Donnees definitives  2018-01-01  00:00  61127.0       56800.0
1  Donnees definitives  2018-01-01  00:15      NaN       56250.0
2  Donnees definitives  2018-01-01  00:30  59962.0       55700.0
3  Donnees definitives  2018-01-01  00:45      NaN       54800.0
4  Donnees definitives  2018-01-01  01:00  57879.0       53900.0

   Prevision J-1  Prevision J  Fioul  Charbon      Gaz  ...  Gaz - TAC  \
0        58900.0        164.0   36.0   2462.0  42054.0  ...     2159.0
1        58300.0          NaN    NaN      NaN      NaN  ...        NaN
2        57700.0        108.0   18.0   2471.0  37564.0  ...     2158.0
3        56750.0          NaN    NaN      NaN      NaN  ...        NaN
4        55800.0        107.0   17.0   2474.0  35725.0  ...     2162.0

   Gaz - Cogen.  Gaz - CCG  Gaz - Autres  \
0         224.0       80.0        5997.0
1           NaN        NaN           NaN
2         226.0       79.0        6100.0
3           NaN        NaN           NaN
4         225.0       78.0        6028.0

   Hydraulique - Fil de l?eau + éclusée  Hydraulique - Lacs  \
0                                1624.0               391.0
1                                   NaN                 NaN
2                                2558.0               212.0
3                                   NaN                 NaN
4                                2364.0               194.0

   Hydraulique - STEP turbinage  Bioenergies - Dechets  \
0                         600.0                  291.0
1                           NaN                    NaN
2                         580.0                  281.0
3                           NaN                    NaN
4                         581.0                  279.0

   Bioenergies - Biomasse  Bioenergies - Biogaz
0                   277.0                   NaN
1                     NaN                   NaN
2                   258.0                   NaN
3                     NaN                   NaN
4                   258.0                   NaN

[5 rows x 36 columns]

In [11]:
import pandas as pd

# Charger le dataset (ici en CSV, adapte selon ton format)
df = pd.read_csv("eco2mix_RTE_Annuel-Definitif_2019_fixed.csv", encoding="utf-8")

# Remplacer les "é" par "e" dans tout le DataFrame
df = df.replace("é", "e", regex=True)

# Vérifier le résultat (afficher les premières lignes)
print(df.head())

# Sauvegarder le dataset modifié
df.to_csv("eco2mix_2019.csv", encoding="utf-8", index=False)

             Perimetre      Nature   Date   Heures  Consommation  \
0  Donnees definitives  2019-01-01  00:00  64207.0       64200.0
1  Donnees definitives  2019-01-01  00:15      NaN       63450.0
2  Donnees definitives  2019-01-01  00:30  63162.0       62700.0
3  Donnees definitives  2019-01-01  00:45      NaN       61600.0
4  Donnees definitives  2019-01-01  01:00  60923.0       60500.0

   Prevision J-1  Prevision J  Fioul  Charbon      Gaz  ...  \
0        63800.0        146.0   11.0   3430.0  55577.0  ...
1        63000.0          NaN    NaN      NaN      NaN  ...
2        62200.0        149.0   12.0   3029.0  56211.0  ...
3        61200.0          NaN    NaN      NaN      NaN  ...
4        60200.0        149.0   12.0   2858.0  55039.0  ...

   Hydraulique - Fil de l?eau + éclusée  Hydraulique_Lacs  \
0                                1080.0               1.0
1                                   NaN               NaN
2                                1342.0             167.0
3                                   NaN               NaN
4                                 765.0             127.0

   Hydraulique_STEP_turbinage  Bioenergies_Dechets  Bioenergies_Biomasse  \
0                       555.0                322.0                 295.0
1                         NaN                  NaN                   NaN
2                       562.0                314.0                 292.0
3                         NaN                  NaN                   NaN
4                       559.0                310.0                 291.0

   Bioenergies_Biogaz   Stockage batterie  Destockage_batterie  \
0                 NaN                 NaN                  NaN
1                 NaN                 NaN                  NaN
2                 NaN                 NaN                  NaN
3                 NaN                 NaN                  NaN
4                 NaN                 NaN                  NaN

   Eolien_terrestre  Eolien_offshore
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN

[5 rows x 40 columns]

In [12]:
import pandas as pd

# Charger le dataset (ici en CSV, adapte selon ton format)
df = pd.read_csv("eco2mix_RTE_Annuel-Definitif_2020_fixed.csv", encoding="utf-8")

# Remplacer les "é" par "e" dans tout le DataFrame
df = df.replace("é", "e", regex=True)

# Vérifier le résultat (afficher les premières lignes)
print(df.head())

# Sauvegarder le dataset modifié
df.to_csv("eco2mix_2020.csv", encoding="utf-8", index=False)

             Perimetre      Nature   Date   Heures  Consommation  \
0  Donnees definitives  2020-01-01  00:00  67068.0       68000.0
1  Donnees definitives  2020-01-01  00:15      NaN       67300.0
2  Donnees definitives  2020-01-01  00:30  66103.0       66600.0
3  Donnees definitives  2020-01-01  00:45      NaN       65750.0
4  Donnees definitives  2020-01-01  01:00  63943.0       64900.0

   Prevision_J_1  Prevision_J  Fioul  Charbon      Gaz  ...  \
0        65800.0        300.0   14.0   6515.0  49226.0  ...
1        65300.0          NaN    NaN      NaN      NaN  ...
2        64800.0        107.0   13.0   6692.0  49436.0  ...
3        64000.0          NaN    NaN      NaN      NaN  ...
4        63200.0        106.0   13.0   6257.0  48970.0  ...

   Hydraulique - Fil de l?eau + éclusée  Hydraulique_Lacs  \
0                                2452.0             244.0
1                                   NaN               NaN
2                                3111.0              97.0
3                                   NaN               NaN
4                                2654.0             324.0

   Hydraulique_STEP_turbinage  Bioenergies_Dechets  Bioenergies_Biomasse  \
0                       517.0                343.0                 325.0
1                         NaN                  NaN                   NaN
2                       525.0                344.0                 325.0
3                         NaN                  NaN                   NaN
4                       524.0                338.0                 325.0

   Bioenergies_Biogaz   Stockage batterie  Destockage_batterie  \
0                 NaN                 NaN                  NaN
1                 NaN                 NaN                  NaN
2                 NaN                 NaN                  NaN
3                 NaN                 NaN                  NaN
4                 NaN                 NaN                  NaN

   Eolien_terrestre  Eolien_offshore
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN

[5 rows x 40 columns]

In [13]:
import pandas as pd

# Charger le dataset (ici en CSV, adapte selon ton format)
df = pd.read_csv("eco2mix_RTE_Annuel-Definitif_2021_fixed.csv", encoding="utf-8")

# Remplacer les "é" par "e" dans tout le DataFrame
df = df.replace("é", "e", regex=True)

# Vérifier le résultat (afficher les premières lignes)
print(df.head())

# Sauvegarder le dataset modifié
df.to_csv("eco2mix_2021.csv", encoding="utf-8", index=False)

             Perimetre      Nature   Date   Heures  Consommation  \
0  Donnees definitives  2021-01-01  00:00  67156.0       67000.0
1  Donnees definitives  2021-01-01  00:15      NaN       66500.0
2  Donnees definitives  2021-01-01  00:30  66483.0       66000.0
3  Donnees definitives  2021-01-01  00:45      NaN       65150.0
4  Donnees definitives  2021-01-01  01:00  64390.0       64300.0

   Prevision_J_1  Prevision_J  Fioul  Charbon      Gaz  ...  \
0        66800.0         94.0    8.0   5585.0  50599.0  ...
1        66300.0          NaN    NaN      NaN      NaN  ...
2        65800.0         88.0    7.0   5599.0  50535.0  ...
3        64900.0          NaN    NaN      NaN      NaN  ...
4        64000.0         89.0    7.0   4476.0  50467.0  ...

   Hydraulique - Fil de l?eau + éclusée  Hydraulique - Lacs  \
0                                1371.0               988.0
1                                   NaN                 NaN
2                                1280.0              1029.0
3                                   NaN                 NaN
4                                 829.0               476.0

   Hydraulique - STEP turbinage  Bioénergies - Déchets  \
0                         502.0                  288.0
1                           NaN                    NaN
2                         511.0                  297.0
3                           NaN                    NaN
4                         511.0                  291.0

   Bioénergies - Biomasse  Bioénergies - Biogaz   Stockage batterie  \
0                   335.0                   NaN                 NaN
1                     NaN                   NaN                 NaN
2                   332.0                   0.0                 0.0
3                     NaN                   NaN                 NaN
4                   332.0                   0.0                 0.0

   Destockage_batterie  Eolien_terrestre  Eolien_offshore
0                  NaN               NaN              NaN
1                  NaN               NaN              NaN
2                  0.0               0.0              NaN
3                  NaN               NaN              NaN
4                  0.0               0.0              NaN

[5 rows x 40 columns]

In [25]:
import pandas as pd

# Charger le dataset (ici en CSV, adapte selon ton format)
df = pd.read_csv("eco2mix_2022.csv", encoding="utf-8")

df = df.head()
df

,Perimetre,Nature,Date,Heures,Consommation,Prevision_J_1,Prevision_J,Fioul,Charbon,Gaz,...,Hydraulique_Fil_eau_eclusee,Hydraulique_Lacs,Hydraulique_STEP_turbinage,Bioenergies_Dechets,Bio?ergies - Biomasse,Bio?ergies - Biogaz,Stockage batterie,D?tockage batterie,Eolien_terrestre,Eolien_offshore
0,France,Donnees definitives,2022-01-01,0:00,54615.0,51500.0,54200.0,89.0,14.0,2961.0,...,6300.0,1439.0,980.0,554.0,349.0,345.0,0.0,0.0,0.0,0.0
1,France,Donnees definitives,2022-01-01,0:15,NaN,51100.0,53750.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,France,Donnees definitives,2022-01-01,0:30,54015.0,50700.0,53300.0,99.0,13.0,2691.0,...,6047.0,2494.0,1672.0,551.0,359.0,336.0,0.0,0.0,0.0,0.0
3,France,Donnees definitives,2022-01-01,0:45,NaN,49850.0,52400.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,France,Donnees definitives,2022-01-01,1:00,52108.0,49000.0,51500.0,99.0,14.0,2691.0,...,5998.0,2388.0,632.0,557.0,356.0,339.0,0.0,0.0,0.0,0.0

In [30]:
import pandas as pd

# Spécifier les chemins des 4 fichiers CSV
fichiers = [
    "eco2mix_2018.csv",
    "eco2mix_2019.csv",
    "eco2mix_2020.csv",
    "eco2mix_2021.csv"
]

# Lire chaque fichier CSV et les ajouter à une liste
dfs = [pd.read_csv(fichier) for fichier in fichiers]

# Fusionner tous les DataFrames dans la liste (par concaténation par défaut)
df_fusionne = pd.concat(dfs, ignore_index=True)

# Afficher les premières lignes du DataFrame fusionné
print(df_fusionne.head())

# Sauvegarder le DataFrame fusionné dans un nouveau fichier CSV
df_fusionne.to_csv("fichier_fusionne.csv", index=False, encoding='utf-8')

             Perimetre      Nature   Date   Heures  Consommation  \
0  Donnees definitives  2018-01-01  00:00  61127.0       56800.0
1  Donnees definitives  2018-01-01  00:15      NaN       56250.0
2  Donnees definitives  2018-01-01  00:30  59962.0       55700.0
3  Donnees definitives  2018-01-01  00:45      NaN       54800.0
4  Donnees definitives  2018-01-01  01:00  57879.0       53900.0

   Prevision J-1  Prevision J  Fioul  Charbon      Gaz  ...  Eolien_offshore  \
0        58900.0        164.0   36.0   2462.0  42054.0  ...              NaN
1        58300.0          NaN    NaN      NaN      NaN  ...              NaN
2        57700.0        108.0   18.0   2471.0  37564.0  ...              NaN
3        56750.0          NaN    NaN      NaN      NaN  ...              NaN
4        55800.0        107.0   17.0   2474.0  35725.0  ...              NaN

   Prevision_J_1  Prevision_J  Nucléaire  Bioénergies  Fioul - Cogén.  \
0            NaN          NaN        NaN          NaN             NaN
1            NaN          NaN        NaN          NaN             NaN
2            NaN          NaN        NaN          NaN             NaN
3            NaN          NaN        NaN          NaN             NaN
4            NaN          NaN        NaN          NaN             NaN

   Gaz - Cogén.  Bioénergies - Déchets  Bioénergies - Biomasse  \
0           NaN                    NaN                     NaN
1           NaN                    NaN                     NaN
2           NaN                    NaN                     NaN
3           NaN                    NaN                     NaN
4           NaN                    NaN                     NaN

   Bioénergies - Biogaz
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 68 columns]

In [34]:
df_fusionne

,Perimetre,Nature,Date,Heures,Consommation,Prevision J-1,Prevision J,Fioul,Charbon,Gaz,...,Bioénergies,Fioul - Cogén.,Gaz - Cogén.,Bioénergies - Déchets,Bioénergies - Biomasse,Bioénergies - Biogaz,Hydraulique_Fil_eau_eclusee,Bio?ergies - Biomasse,Bio?ergies - Biogaz,D?tockage batterie
0,Donnees definitives,2018-01-01,00:00,61127.0,56800.0,58900.0,164.0,36.0,2462.0,42054.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Donnees definitives,2018-01-01,00:15,NaN,56250.0,58300.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Donnees definitives,2018-01-01,00:30,59962.0,55700.0,57700.0,108.0,18.0,2471.0,37564.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Donnees definitives,2018-01-01,00:45,NaN,54800.0,56750.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Donnees definitives,2018-01-01,01:00,57879.0,53900.0,55800.0,107.0,17.0,2474.0,35725.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175296,France,Donnees definitives,2022-12-31,23:00,47688.0,NaN,NaN,76.0,23.0,2514.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5244.0,429.0,335.0,0.0
175297,France,Donnees definitives,2022-12-31,23:15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175298,France,Donnees definitives,2022-12-31,23:30,47519.0,NaN,NaN,76.0,23.0,2474.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5204.0,430.0,334.0,0.0
175299,France,Donnees definitives,2022-12-31,23:45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175300,RTE ne pourra ere tenu responsable de l'usage ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import pandas as pd

# Charger le dataset original
df = pd.read_csv("eco2mix2018-2019_sans_les_colonnes.csv")  # Remplace par ton fichier

# Sélectionner les colonnes à conserver
colonnes_a_garder = ["Date", "Heures", "Consommation"]  # Remplace par tes colonnes
df_reduit = df[colonnes_a_garder]

# Sauvegarder le nouveau dataset
df_reduit.to_csv("eco2mix2018-2019_pour_entrainement.csv", index=False, encoding='utf-8')

print("Nouveau dataset créé avec les colonnes sélectionnées sous 'eco2mix_sans_les_colonnes.csv'")

Nouveau dataset créé avec les colonnes sélectionnées sous 'eco2mix_sans_les_colonnes.csv'

In [9]:
df_reduit

              Date    Heures  Consommation
0       2018-01-01  00:00:00       61127.0
1       2018-01-01  00:15:00           NaN
2       2018-01-01  00:30:00       59962.0
3       2018-01-01  00:45:00           NaN
4       2018-01-01  01:00:00       57879.0
...            ...       ...           ...
175296  2022-12-31  23:00:00       47688.0
175297  2022-12-31  23:15:00           NaN
175298  2022-12-31  23:30:00       47519.0
175299  2022-12-31  23:45:00           NaN
175300         NaN       NaN           NaN

[175301 rows x 3 columns]

In [17]:
import pandas as pd

# Charger le fichier CSV
df = pd.read_csv("eco2mix2018-2019_pour_entrainement.csv")

# S'assurer que la colonne 'Date' est bien en format datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Supprimer les lignes où la date est manquante (ex: la dernière ligne vide)
df = df.dropna(subset=['Date'])

# Grouper par jour et calculer la moyenne des consommations
df_journalier = df.groupby(df['Date'].dt.date).agg({
    'Consommation': 'mean'
}).reset_index()

# Renommer les colonnes pour plus de clarté
df_journalier.columns = ['Date', 'Consommation']

# Sauvegarder le résultat si besoin
df_journalier.to_csv("consommation_journaliere.csv", index=False)

print(df_journalier.head())

         Date  Consommation
0  2018-01-01  56302.041667
1  2018-01-02  63102.958333
2  2018-01-03  63761.270833
3  2018-01-04  63169.187500
4  2018-01-05  62318.708333

In [18]:
import pandas as pd

# Charger les deux datasets
df1 = pd.read_csv("consommation_journaliere.csv")
df2 = pd.read_csv("first_fusion.csv")  # Remplacez par le chemin du deuxième fichier

# S'assurer que la colonne 'Date' est bien en format datetime pour les deux datasets
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')
df2['Date'] = pd.to_datetime(df2['Date'], errors='coerce')

# Fusionner les deux datasets selon la colonne 'Date'
df_fusionne = pd.merge(df1, df2, on='Date', how='inner')  # Utilisez 'left', 'right', ou 'outer' selon vos besoins

# Sauvegarder le fichier fusionné si besoin
df_fusionne.to_csv("eco2mix_final.csv", index=False)

# Afficher les premières lignes du dataset fusionné
print(df_fusionne.head())

        Date  Consommation      tmin       tmax  weekend  jour_ferie saison  \
0 2018-01-01  56302.041667  6.501796  11.188690    False        True  Hiver
1 2018-01-02  63102.958333  6.229518  12.299398    False       False  Hiver
2 2018-01-03  63761.270833  8.244848  14.868485    False       False  Hiver
3 2018-01-04  63169.187500  9.100599  14.828743    False       False  Hiver
4 2018-01-05  62318.708333  7.344311  13.331548    False       False  Hiver

  Type de jour TEMPO
0               BLEU
1               BLEU
2               BLEU
3               BLEU
4               BLEU